.btn {
  border-radius: 30rem;
}

.nav-pills {
  overflow: hidden;
  border-radius: 0.5rem;
}

.nav-pills::before {
  border-radius: 0.5rem;
}

@media (min-width: 576px) {
  .nav-pills {
    border-radius: 30rem;
  }
  .nav-pills::before {
    border-radius: 30rem;
  }
}

@media (min-width: 576px) {
  .nav-pills.menu-nav {
    border-radius: 30rem !important;
  }
  .nav-pills.menu-nav::before {
    border-radius: 30rem !important;
  }
}

.nav-pills.flex-column {
  border-radius: 0;
  overflow: visible;
}

.nav-pills .nav-link {
  border-radius: 30rem;
}

.nav-pills.admin-nav .nav-link {
  border: none;
}

#dish-tab {
  border-radius: 0.5rem;
}

@media (min-width: 576px) {
  #dish-tab {
    border-radius: 30rem;
  }
}

.services-item {
  transition: all 0.3s;
  border-radius: 0.5rem;
  overflow: hidden;
}

.featured-dishes-item {
  border-radius: 0.5rem;
}

.featured-dishes-item::before {
  border-radius: 0.5rem;
}

.featured-dishes-slider .owl-item.center .featured-dishes-item .discounted-ribbon {
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.menu-item {
  border-radius: 30rem;
  border-left: none;
}

.chefs-item {
  border-radius: 0.5rem;
}

.chefs-item img {
  border-radius: 0.3rem 0.3rem 0 0;
}

.accordion .card {
  background: none !important;
}

.accordion .card-header {
  background: none;
}

.accordion-toggle {
  border-left: none;
  border-radius: 30rem;
  overflow: hidden;
}

.awards {
  border-radius: 0.5rem;
}

.nav-bottom > .container {
  border-radius: 30rem;
}

@media (max-width: 768px) {
  .nav-bottom > .container {
    border-radius: 0.2rem;
  }
}

.demo-rounded {
  border-radius: 0.5rem !important;
}

.form-control:not(textarea) {
  border-radius: 30rem;
  padding-left: 1.25rem;
}

textarea.form-control {
  border-radius: 0.5rem;
  padding-left: 1.25rem;
}

.booking-form-holder {
  border-radius: 0.5rem;
}

.alert {
  border-radius: 0.3rem;
}

.bootstrap-select .bs-select-form-control.dropdown-toggle {
  padding: 0.765rem 1.25rem !important;
}
