<div class="page-content">
    <section class="text-center">
        <div class="container">
            <div class="row mb-4 pb-3">
                <div class="col-lg-7 mx-auto">
                    <!-- Section heading-->
                    <header class="bg-heading-text text-center mb-4" data-text="Gallery">
                        <div class="index-forward">
                            <p class="text-uppercase text-primary font-weight-bold small mb-2">Gallery</p>
                            <h1>Our Gallery</h1>
                        </div>
                    </header>
                </div>
            </div>

            <div class="owl-carousel gallery-slider owl-theme">
                <a class="d-block gallery-slider-item shadow overflow-hidden" href="img/gallery-6.774e766d.jpg" data-lightbox="Gallery" title="Gallery item">
                    <img class="img-fluid" src="img/gallery-6.774e766d.jpg" alt="...">
                </a>
                <a class="d-block gallery-slider-item shadow overflow-hidden" href="img/gallery-2.5e02e197.jpg" data-lightbox="Gallery" title="Gallery item">
                    <img class="img-fluid" src="img/gallery-2.5e02e197.jpg" alt="...">
                </a>
                <a class="d-block gallery-slider-item shadow overflow-hidden" href="img/gallery-3.3c221e90.jpg" data-lightbox="Gallery" title="Gallery item">
                    <img class="img-fluid" src="img/gallery-3.3c221e90.jpg" alt="...">
                </a>
                <a class="d-block gallery-slider-item shadow overflow-hidden" href="img/gallery-4.f42c7727.jpg" data-lightbox="Gallery" title="Gallery item">
                    <img class="img-fluid" src="img/gallery-4.f42c7727.jpg" alt="...">
                </a>
                <a class="d-block gallery-slider-item shadow overflow-hidden" href="img/gallery-5.584f4b15.jpg" data-lightbox="Gallery" title="Gallery item">
                    <img class="img-fluid" src="img/gallery-5.584f4b15.jpg" alt="...">
                </a>
                <a class="d-block gallery-slider-item shadow overflow-hidden" href="img/gallery-1.20e52f98.jpg" data-lightbox="Gallery" title="Gallery item">
                    <img class="img-fluid" src="img/gallery-1.20e52f98.jpg" alt="...">
                </a>
                <a class="d-block gallery-slider-item shadow overflow-hidden" href="img/gallery-7.29fb7bba.jpg" data-lightbox="Gallery" title="Gallery item">
                    <img class="img-fluid" src="img/gallery-7.29fb7bba.jpg" alt="...">
                </a>
                <a class="d-block gallery-slider-item shadow overflow-hidden" href="img/gallery-8.429cf4c3.jpg" data-lightbox="Gallery" title="Gallery item">
                    <img class="img-fluid" src="img/gallery-8.429cf4c3.jpg" alt="...">
                </a>
            </div>
        </div>
    </section>
</div>
